# ignore self
.git

# ignore log
.log

# ignore review/output
review
!review/README.md
output
!output/README.md

# ignore dependencies
node_modules

# ignore test modules
test

# ignore dump files.
request.json
